<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            Edit CoachGround
        </h1>
        <div class="col-6 offset-3">
            <form action="/coachgrounds/<%=coachground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="coachground[title]" class="form-control" value="<%=coachground.title%>" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="coachground[location]" class="form-control" value="<%=coachground.location%>" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="number" step="0.01" name="coachground[price]" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%=coachground.price%>" required>
                    </div>    
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required type="text" id="description" name="coachground[description]" class="form-control"><%=coachground.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add More Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <h6>Delete Images: </h6>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                        <% coachground.images.forEach((image, i) => { %>
                        <div class="col">
                            <div class="card">
                                <label for="image-<%= i %>"><img class="card-img" src="<%= image.thumbnail %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= image.filename %>" id="image-<%= i %>">
                                    </div>
                                </label>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update CoachGround</button>
                </div>
    
            </form>
            <a href="/coachgrounds/<%=coachground._id%> ">Back to CoachGround</a>
        </div>
    </div>