<% layout('layouts/boilerplate') %>

<h1 class="display-3 text-center mb-4">CoachGrounds</h1>
    <ul>
        <% for(let coachground of coachgrounds) { %>
            <div class="card mb-3" >
                  <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=coachground.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= coachground.title %> </h5>
                            <p class="card-text">
                                <%= coachground.description %> 
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><%=coachground.location %> </small>
                            </p>
                            <a href="/coachgrounds/<%=coachground._id %> " class="btn btn-primary">View <%= coachground.title %></a>
                        </div>
                    </div>
                  </div>
            </div>
        <% } %>
    </ul>
