<% layout('layouts/boilerplate') %>

<link href="/css/stars.css" rel="stylesheet" />
<div class="container">
<div class="row">
  <div class="col-6 mt-3 mb-2">
    <div id="coachgroundCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% coachground.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
          <img src="<%= img.url%>" class="d-block w-100" alt="">
        </div>
        <% }) %>

      </div>
      <% if(coachground.images.length > 1) { %>
      <a class="carousel-control-prev" href="#coachgroundCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#coachgroundCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
      <% } %>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="card-title"><%=coachground.title%></h5>
        <p class="card-text"><%=coachground.description%> </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=coachground.location%></li>
        <li class="list-group-item">₹<%= coachground.price %> </li>
      </ul>
      <% if(currentUser && coachground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/coachgrounds/<%=coachground._id%>/edit">Edit</a>
        <form class="d-inline" action="/coachgrounds/<%=coachground._id%>?_method=DELETE" method="POST">
          <button class="class-link btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted bg-light">
        Posted by <strong><%=coachground.author.username %></strong>
      </div>

      <div id='map'></div>

    </div>


  </div>
  <div class="col-5 offset-1 mt-3">
    <% if(currentUser) { %>
    <div class="row">
      <h3>Leave a Review</h3>
      <form action="/coachgrounds/<%=coachground._id%>/reviews" class="mb-3 validated-form" method="POST" novalidate>
        <div class="mb-3">
          <!-- <div class="mb-3">
              <label class="form-label" for="rating">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
              aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <label class="form-label" for="body">Write a Review:</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
    <% } %>
    <div class="row">
      <% for(let review of coachground.reviews){  %>
      <div class="card mb-3" style="width: 51rem;">
        <div class="card-header">
          <strong><%=review.author.username.charAt(0).toUpperCase()+review.author.username.slice(1) %> </strong>
        </div>
        <div class="card-body d-flex">
          <div class="blockquote mb-0 col-11">
            <p><%= review.body %></p>
            <footer class="footer">
              <p class="starability-result" data-rating=<%= review.rating %>>
                Rated: 3 stars
              </p>
            </footer>
          </div>
          <div class="align-self-end col-1">
            <% if(currentUser && review.author.equals(currentUser._id)) { %>
            <form action="/coachgrounds/<%=coachground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger btn-sm mt-1 align-self-end">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</div>

</div>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const coachground = '<%-JSON.stringify(coachground)%>';
</script>

<script src="/javascripts/showPageMap.js"></script>